<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FactoryBuildingOnline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09FCA9E31D9C9EA50062F063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FCA9FF1D9C9EA90062F063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09FCAA0A1D9C9EA90062F063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
