<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>305</string>
	<key>name</key>
	<string>东莞市</string>
	<key>child</key>
	<array>
		<dict>
			<key>id</key>
			<string>30316</string>
			<key>name</key>
			<string>万江街道</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30317</string>
			<key>name</key>
			<string>东坑镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30318</string>
			<key>name</key>
			<string>东城街道</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30319</string>
			<key>name</key>
			<string>中堂镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30320</string>
			<key>name</key>
			<string>企石镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30321</string>
			<key>name</key>
			<string>凤岗镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30322</string>
			<key>name</key>
			<string>南城街道</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30323</string>
			<key>name</key>
			<string>厚街镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30324</string>
			<key>name</key>
			<string>塘厦镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30325</string>
			<key>name</key>
			<string>大岭山镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30326</string>
			<key>name</key>
			<string>大朗镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30327</string>
			<key>name</key>
			<string>寮步镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30328</string>
			<key>name</key>
			<string>常平镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30329</string>
			<key>name</key>
			<string>望牛墩镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30330</string>
			<key>name</key>
			<string>桥头镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30331</string>
			<key>name</key>
			<string>樟木头镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30332</string>
			<key>name</key>
			<string>横沥镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30333</string>
			<key>name</key>
			<string>沙田镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30334</string>
			<key>name</key>
			<string>洪梅镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30335</string>
			<key>name</key>
			<string>清溪镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30336</string>
			<key>name</key>
			<string>石排镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30337</string>
			<key>name</key>
			<string>石碣镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30338</string>
			<key>name</key>
			<string>石龙镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30339</string>
			<key>name</key>
			<string>茶山镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30340</string>
			<key>name</key>
			<string>莞城街道</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30341</string>
			<key>name</key>
			<string>虎门镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30342</string>
			<key>name</key>
			<string>谢岗镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30343</string>
			<key>name</key>
			<string>道滘镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30344</string>
			<key>name</key>
			<string>长安镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30345</string>
			<key>name</key>
			<string>高埗镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30346</string>
			<key>name</key>
			<string>麻涌镇</string>
		</dict>
		<dict>
			<key>id</key>
			<string>30347</string>
			<key>name</key>
			<string>黄江镇</string>
		</dict>
	</array>
</dict>
</plist>
