<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>请选择出租方式</string>
		<string>整租</string>
		<string>分租</string>
	</array>
	<array>
		<string>请选择租售方式</string>
		<string>出租</string>
		<string>出售</string>
		<string>可租可售</string>
	</array>
	<array>
		<string>请选择押金方式</string>
		<string>一押一付</string>
		<string>两押一付</string>
		<string>三押一付</string>
		<string>首交半年</string>
		<string>首交一年</string>
	</array>
	<array>
		<string>请选择业主类型</string>
		<string>村委会</string>
		<string>镇政府</string>
		<string>区政府</string>
		<string>市政府</string>
		<string>业主</string>
		<string>经纪</string>
	</array>
	<array>
		<string>请选择新旧程度</string>
		<string>全新</string>
		<string>九成新</string>
		<string>八成新</string>
		<string>七成新</string>
		<string>低于七成新</string>
	</array>
	<array>
		<string>请选择所在楼层</string>
		<string>一楼</string>
		<string>二楼以上</string>
		<string>独栋</string>
		<string>独院</string>
		<string>其他</string>
	</array>
	<array>
		<string>请选择楼层结构</string>
		<string>标准厂房</string>
		<string>简易厂房</string>
		<string>钢结构厂房</string>
		<string>其他</string>
	</array>
	<array>
		<string>请选择厂房食堂类型</string>
		<string>公有</string>
		<string>私有</string>
		<string>无</string>
	</array>
	<array>
		<string>请选择园区配套</string>
		<string>有</string>
		<string>无</string>
	</array>
	<array>
		<string>请选择是否有电梯</string>
		<string>有</string>
		<string>无</string>
	</array>
	<array>
		<string>请选是否有择消防防护</string>
		<string>有</string>
		<string>无</string>
	</array>
	<array>
		<string>请选择是否有环保</string>
		<string>有</string>
		<string>无</string>
	</array>
</array>
</plist>
